
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
}

/*Top-nav*/
.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 999; 
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.top-nav button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}


/*Nav-icons*/
.nav-left svg,
.nav-right svg {
    height: 37px;   
    width: auto;    
    vertical-align: middle;
    transition: stroke 0.3s ease, fill 0.3s ease;
}

.logo img {
    height: 70px; 
    width: auto;
}

.top-nav .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-right {
    margin-left: auto; 
}

/*Hover text-effect on icons*/
.nav-left button::after,
.nav-right button::after {
    display: block;
    font-size: 12px;
    color: #000; 
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    position: absolute;
    white-space: nowrap;
} 

.person-btn::after { 
    content: 'Konto';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.cart-btn::after { 
    content: 'Kurv';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.search-btn::after { 
    content: 'Søg';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-btn::after { 
    content: 'Menu';
    left: 80%;
    top: 50%;
    transform: translateY(-50%) translateX(5px);
}

.nav-left button:hover::after,
.nav-right button:hover::after {
    opacity: 1;
}

/*Search input*/
.search-container {
    position: relative;
}

.search-input {
    position: absolute;
    right: 100%; 
    top: 50%;
    transform: translateY(-50%);
    width: 0; 
    opacity: 0;
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: width 0.3s ease, opacity 0.3s ease;
    background: #fff;
    color: #000;
    z-index: 10;
}

.search-container.active .search-input {
    width: 150px;
    opacity: 1;
}

/*Back button*/
.back-button {
  cursor: pointer;
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: -100px;
}

.back-button svg {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

/*Product*/
.product-page {
  max-width: 1440px;
  margin: 40px auto;
  margin-top: 150px;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.product-image img {
  width: 100%;
  max-width: 400px;
  margin-left: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title {
  font-size: 35px;
  font-family: 'Poppins';
  font-weight: 500;
  color: #111111;
  margin-top: 18px;
}

.subtitle {
    font-size: 15px;
    font-family: 'Inter';
    font-weight: 400;
    color: #1b1b1b;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 8px;
}

.description {
  font-size: 18px;
  font-family: 'cormorant garamond';
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 18px;
}

/*Color picker*/
.color-picker {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 40px 0;
  margin-left: 100px;
  min-width: 140px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.color-dot {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 2px solid #000; 
  cursor: pointer;
  background: transparent;
  padding: 0;
  position: relative;
  transition: transform 0.2s ease;
}

.color-dot::before {
  content: "";
  position: absolute;
  inset: 4px; 
  border-radius: 50%;
  background-color: var(--color);
  transition: all 0.25s ease;
}

.color-dot:hover::before {
  inset: 0;
}
.color-dot.active::before {
  inset: 0;
}
.color-dot:hover {
  transform: scale(1.1);
}
.color-dot.active {
  transform: scale(1.12);
}

.color-name {
  font-size: 18px;
  font-weight: 500;
  font-family: 'cormorant garamond';
  min-width: 110px;
  position: relative;
  left: -100px;
}

.feature svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
}

.feature {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-size: 15px;
}

/*Price & CTA*/
.price {
  font-size: 30px;
  font-family: 'Poppins';
  font-weight: 500; 
  margin-top: 20px;
}

.cta-btn {
  width: 60%;
  padding: 16px;
  background: black;
  color: white;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 16px;
  margin-top: 20px;
  align-items: baseline;
}

.cta-btn:hover { 
  background: #fff;
  color: #000000;
  border: 2px solid black;
  border-radius: 30px;
}

.extras {
  display: flex;
  flex-direction: column; 
  gap: 6px;  
  font-family: 'cormorant garamond';
  font-size: 16px;             
}

.extras span {
  display: block;
}


/*Fold-menu section*/
.fold-menu {
  max-width: 1200px;
  margin: 40px auto;
  border-top: 1px solid #ddd;
  height: auto;
}

.menu-item {
  border-bottom: 1px solid #ddd;
}

.menu-title {
  width: 100%;
  background: none;
  border: none;
  padding: 18px 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: 'inter';
}

.plus {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.menu-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 14px;
  line-height: 1.5;
  padding-right: 40px;
  width: 100%;
}

.menu-inner {
  display: flex;
  flex-wrap: nowrap;         
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px; 
}

.description { 
  font-size: 18px;
  font-family: 'cormorant garamond';
  font-weight: 500;
  line-height: 1.5;
}

/*Features*/
.feature-item {
  flex: 0 0 140px;          
  text-align: center;
}


.feature-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
  color: #b47f52;
}


.feature-item p {
  font-size: 13px;
  line-height: 1.4;
  color: #333;
}

/*Ratings*/ 
.rating-box {
   display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.rating-title {
    font-size: 16px;
  font-weight: 800;
  font-family: 'cormorant garamond';
}

.rating-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1.7;
  font-family: 'cormorant garamond';
  font-size: 14px;
  font-weight: 500;
}

.rating-summary {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.rating-number {
  font-size: 32px;
  font-weight: 600;
  font-family: 'inter';
}

.rating-stars {
  font-size: 24px;
  color: #f7a838;  
}
